<div class="container">
  <div class="row">
    <div class="col-12">
      
      <div class="alert alert-warning" role="alert">
        Here are Some details About The Expense Tracker Application ! Thanks for Contacting Us and Plese:)
      </div>
      <app-personal-info></app-personal-info>
    </div>

    <div class="col-6">
      <div class="alert alert-warning" role="alert">
        Copyright @Ashish Suri & Bhushan Patil.
        <p>Contact No. 9999999999</p>
        <p>Email expensetracker@gmail.com</p>
      </div>
    
    </div>
  </div>
</div>
